<div class="card shadow-sm" *ngIf="product">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid bg-info">
    <div class="card-body d-flex flex-column">
        <a href="" class="text-decoration-none">
            <h6 class="text-uppercase">
                {{product.name}}
            </h6>
        </a>
        <span class="mb-2">{{product.price | currency}}</span>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary"><i class="fa-solid fa-cart-shopping"></i></button>
            <button type="button" class="btn btn-secondary">View</button>
        </div>
    </div>
</div>